<ion-view view-title="Home">
  <ion-content>
    <h1>Home Page</h1>
    <a href="#" ng-click="minusActivity()"><i class="icon ion-ios7-minus-outline h1" ></i></a>
    <span class="h1">{{activities}}</span>
    <a href="#" ng-click="plusActivity()"><i class="icon ion-plus-circled h1" ng-click="addActivity()"></i></a>
    <p></p>
      <a href="#" ng-click="minusIndulgence()"><i class="icon ion-minus-circled h1" ng-click="minusIndulgence()"></i></a>
    <span class="h1">{{indulgences}}</span>
        <a href="#" ng-click="plusIndulgence()"><i class="icon ion-ios7-plus-outline h1" ng-click="addIndulgence()"></i></a>
  </ion-content>
</ion-view>
