/* Empty. Add your own CSS if you like */
.body {
  font-family: "Roboto", SansSerif;
}
.row {
  padding: 5%;
  text-align: center;
}
.header {
  padding: 0%;
  padding-top: 5%;
  text-align: center;
}
.h1 {
  font-size: 400%;
}
.outline {
  color: #33cd5f;
}

.filled {
  color: darkred;
}

.gray {
  color: dimgray;
}
